<!DOCTYPE html>
<!--
  Original Design: Spectral by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  Jekyll build mod
-->
<html>

{% include '../_includes/head.html' %}

<body>

<!-- Page Wrapper -->
<div id="page-wrapper">
  {% include '../_includes/header.html' %}

  {% if user.is_authenticated %}
  <p>Logged in as {{user.username}}<p>
  <p class="logout-link"><a href="{% url 'logout' %}">logout</a></p>
  {% endif %}
  {% block content %}
  {% endblock %}


  {% include '../_includes/scripts.html' %}
</div>



</body>

</html>