{% load static %}

<!-- Scripts -->
<script src="{% static 'mainwebsite/js/jquery.min.js' %}"></script>
<script src="{% static 'mainwebsite/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'mainwebsite/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'mainwebsite/js/skel.min.js' %}"></script>
<script src="{% static 'mainwebsite/js/util.js' %}"></script>
<!--[if lte IE 8]><script src="{% static 'mainwebsite/js/ie/respond.min.js' %}"></script><![endif]-->
<script src="{% static 'mainwebsite/js/main.js' %}"></script>
<script src="{% static 'mainwebsite/js/particles-dan.js' %}"></script>
<!--<script src="https://checkout.stripe.com/checkout.js"></script> --><!-- saving some bandwidth by puttin only in 'investment' -->
<!--<script src="{% static 'mainwebsite/js/payments.js' %}"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<script>
      $(document).ready(function() {
	$(".navbar").find(".active").removeClass("active");
	$('a[href="' + location.pathname + '"]').addClass('active');
      });
    </script>

<!--
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-91031171-1', 'auto');
ga('send', 'pageview');

  </script>
  -->

<!-- Matomo -->
<!--<script type="text/javascript">
	var _paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
  var u="//matomo.1312.media/";
  _paq.push(['setTrackerUrl', u+'matomo.php']);
  _paq.push(['setSiteId', '3']);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
})();
      </script> -->
<!-- End Matomo Code -->

<!-- <script type="text/javascript">
var vsid = "sa54700";
(function() {
(function() {
var vsjs = document.createElement('script'); vsjs.type = 'text/javascript'; vsjs.async = true; vsjs.setAttribute('defer', 'defer');
vsjs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.virtualspirits.com/vsa/chat-'+vsid+'.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vsjs, s);
})();
</script> -->
