<!-- templates/base.html -->
<!DOCTYPE html>
{% load sass_tags %}
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link href="{% sass_src 'mainwebsite/css/main.scss' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'accounts/css/login.css'%}" rel="stylesheet">
</head>
<body class="text-center">
  {% block content %}
  {% endblock %}
</body>
</html>