<!-- templates/base.html -->
<!DOCTYPE html>
{% load sass_tags %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link href="{% sass_src 'mainwebsite/css/main.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>

  {% if user.is_authenticated %}
  <p>Logged in as {{user.username}}   <a href="{% url 'logout' %}">logout</a></p>
  {% endif %}
  {% block content %}
  {% endblock %}

</body>
</html>