{% extends 'mainwebsite/_layouts/page.html' %}

{% block content %}
<main role="main">
<div class="container">
  <h2>FREQUENTLY ASKED QUESTIONS</h2>
  <div class="accordion" id="faqAccordion">
    <div class="card">
      <div class="card-header bg-primary" id="heading0">
	<a class="btn" href="" role="button" data-toggle="collapse" data-target="#question0" aria-expanded="false" aria-controls="question0">
	  Is the project open to participants from any country in the world and will candidates be required to travel to any location?
	</a>
      </div>
      <div id="question0" class="collapse" aria-labelledby="heading0" data-parent="#faqAccordion">
	<div class="card-body">
	  While the project is open to participants from anywhere in the world, I have locations in the European Union and Southeast Asia where most of the activity will be concentrated, and the willingness to travel to the sites where I am developing my projects and stay there for weeks at a time or more, will be a major selection criteria. Your travel and all living expenses will be paid.
	</div>
      </div>
    </div>

    <div class="card">
      <div class="card-header bg-primary" id="heading1">
	<a class="btn" type="button" data-toggle="collapse" data-target="#question1" aria-expanded="false" aria-controls="question1">
	  Who is managing the program, is there an organisation or company behind it?
	</a>
      </div>
      <div id="question1" class="collapse" aria-labelledby="heading1" data-parent="#faqAccordion">
	<div class="card-body">
	  The program is managed by Yann personally, is funded from a holistic health purpose trust fund, and there is no organisation or company, its a purely individual, private undertaking.
	</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary" id="heading2">
	<a class="btn" type="button" data-toggle="collapse" data-target="#question2" aria-expanded="false" aria-controls="question2">
	  What is Yann's motivation behind this project?
	</a>
      </div>
      <div id="question2" class="collapse" aria-labelledby="heading2" data-parent="#faqAccordion">
	<div class="card-body">
	  want to myself regain perfect health and increase my changes of longevity, minimize the risk of dementia and other neurodegenerative diseases in the old age.
	</div>
      </div>
    </div>

  </div>
</div>
</main>

{% endblock %}
