{% extends 'mainwebsite/_layouts/page.html' %}

{% block content %}
<main role="main">
<div class="container">
  <div class="row">
    <div class="col">
      <h2>FINANCIAL SUPPORT</h2>
      <p>The 5 volunteers selected to the program, will be able to have various health-improvement related expenses funded, such as:</p>
      <ul>
	<li>Organic and low-toxin food</li>
	<li>Supplements and intravenous infusions (for example to increase magnesium, vitamin C, glutathione)</li>
	<li>Laboratory tests (blood, urine, stool)</li>
	<li>Functional medicine practitioner consultations</li>
	<li>Medical operations like removing dental amalgams</li>
	<li>Equipment for lowering their home toxic burden</li>
	<li>Travel</li>
	<li>Attendance to health conferences and courses</li>
	<li>Other expenses in some way related to lowering toxic burden</li>
      </ul>
      <p>The total budget is 70000 EUR for the period from July 2019 until October 2020, from which some major spending for one person could be for example:</p>
      <p>500 EUR/month for food and nutritional supplements</p>
      <p>2500 EUR for laboratory tests</p>
      <p>1500 EUR for consultations and/or medical procedures, e.g. dental</p>
    </div>
  </div>
</div>
</main>
{% endblock %}