{% extends 'mainwebsite/_layouts/landing.html' %}
{% load static %}

{% block content %}
<main role="main">
    <div class="bg-primary">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md text-center">
                        <h1>Offering unique opportunities</h1>
                    </div>
                </div>
                <div class="row index-cards text-dark">
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="mx-auto" src="{% static 'mainwebsite/images/1.png' %}" alt="max health" height="75px" width="75px">
                            <div class="card-body">
                                <h5 class="card-title">Turn around and maximize Health</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="mx-auto" src="{% static 'mainwebsite/images/2.png' %}" alt="heal" height="75px" width="75px">
                            <div class="card-body">
                                <h5 class="card-title">Heal from minor or chronic disease holistically</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="mx-auto" src="{% static 'mainwebsite/images/3.png' %}" alt="eliminate toxins" height="75px" width="75px">
                            <div class="card-body">
                                <h5 class="card-title">Avoid and eliminate toxins</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md text-center">
                        <p>Applicants will be selected according to their ability to make a serious lifestyle commitment programme in 2019/2020,
                            and their sincerity for optimizing health through lowtox living.</p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container financial-support">
        <div class="row">
            <div class="col-md text-center text-secondary">
                <h1>Financial support</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md financial-bullet">
                <span>Organic and low toxin food</span>
            </div>
            <div class="col-md financial-bullet align-middle">
                <span>Equipment for reducing their home toxin burden</span>
            </div>
            <div class="col-md financial-bullet align-middle">
                <span>Supplements and intravenous infusions</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md financial-bullet align-middle">
                <span>Laboratory tests</span>
            </div>
            <div class="col-md financial-bullet align-middle">
                <span>Travel expenses</span>
            </div>
            <div class="col-md financial-bullet align-middle">
                <span>Attending health conferences and courses</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md financial-bullet align-middle">
                <span>Functional medicine consultations</span>
            </div>
            <div class="col-md financial-bullet align-middle">
                <span>Other expenses related to lowering toxic burden</span>
            </div>
            <div class="col-md financial-bullet align-middle">
                <span>Minor medical operations like removing dental amalgams</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="container">
                    <div class="row">
                        <div id="total-budget" class="col-9 bg-primary text-white">
                            The total budget is 70 000 EUR for the period from July 2019 until October 2020
                        </div>
                        <div id="total-budget-tasks" class="col-3 bg-primary text-secondary">
                            Tasks
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col"><hr></div></div>
    </div>
    <div class="container-fluid bg-primary text-center text-white mb-5">
        <div class="row">
            <div class="col-md-4 offset-md-4 bold-text">
                70,000 EUR total support available for selected 5 applicants on the 2019/2020 programme
            </div>
        </div>
    </div>
    <div class="container who">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'mainwebsite/images/happy_lad.jpg' %}" alt="Happy lad">
            </div>
            <div class="col">
                <ul>
                    <li>People wanting to lower the toxin burden (heavy metals, pesticides, EMF)</li>
                    <li>People whith dental amalgams wishing to remove them and detox mercury</li>
                    <li>Biohackers interested in Quantified Self movement and optimizing nutrition through tracking and lab tests</li>
                    <li>People with chronic disease who want to try the holistic approach to heal</li>
                    <li>Healthy people wishing to increase mental and physical performance</li>
                    <li>People who want to minimize the risk of dementia, Alzheimer's and interested in longevity</li>
                </ul>
            </div>
        </div>
        <div class="row"><div class="col"><hr></div></div>
    </div>
    <div class="container tasks">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                Participants must be willing to dedicate time to lowtox.org projects according to their experience and situation. Example volunteer activities:
            </div>
        </div>
        <div class="row list">
            <div class="col-md-4 offset-md-2">
                <div class="item"><span>1</span><div>Building holistic health focused Facilities at Lowtox.org resorts</div></div>
                <div class="item"><span>2</span><div>Setting up an amateur lab to analyse heavy metals and other biomarkers</div></div>
                <div class="item"><span>3</span><div>Gathering information and writing reports</div></div>
            </div>
            <div class="col-md-4">
                <div class="item"><span>4</span><div>Creating web content and apps to track health data</div></div>
                <div class="item"><span>5</span><div>Attending holistic health conferences and promoting Lowtox.org</div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                Participants may be asked to write a health history report with test results.
                This data may be used and published in case studies.
            </div>
        </div>
    </div>
</main>

{%endblock %}
